/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.zl-input {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  background-color: #EDECF3;
  line-height: 40px;
  font-size: 2em;
  text-align: center; }

.zl-datepicker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10; }
  .zl-datepicker .value {
    font-size: 2.5em;
    line-height: 4em;
    text-align: center;
    background-color: #eee;
    border-bottom: 1px solid #ddd; }
    .zl-datepicker .value .year, .zl-datepicker .value .month, .zl-datepicker .value .date {
      width: 90px;
      display: inline-block; }
  .zl-datepicker.state-0 .year, .zl-datepicker.state-1 .month, .zl-datepicker.state-2 .date {
    background-color: #ddd; }
  .zl-datepicker .controls {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    text-align: center; }
  .zl-datepicker .pannel-year::after, .zl-datepicker .pannel-month::after, .zl-datepicker .pannel-date::after {
    clear: both;
    content: "";
    display: table; }
  .zl-datepicker .key-year, .zl-datepicker .key-month, .zl-datepicker .key-date, .zl-datepicker .key-every, .zl-datepicker .key-some {
    float: left;
    height: 50px;
    width: 33%;
    line-height: 50px;
    text-align: center;
    font-size: 2.2em; }
    .zl-datepicker .key-year:active, .zl-datepicker .key-month:active, .zl-datepicker .key-date:active, .zl-datepicker .key-every:active, .zl-datepicker .key-some:active {
      background-color: #eee; }
    .zl-datepicker .key-year.selected, .zl-datepicker .key-month.selected, .zl-datepicker .key-date.selected, .zl-datepicker .key-every.selected, .zl-datepicker .key-some.selected {
      background-color: #ccc;
      color: #333; }
  .zl-datepicker .key-date {
    width: 14.2%; }
  .zl-datepicker .key-every, .zl-datepicker .key-some {
    width: 50%;
    height: 60px;
    line-height: 60px; }

@-webkit-keyframes cursor {
  0% {
    border-left-color: transparent; }

  40% {
    border-left-color: black; }

  100% {
    border-left-color: transparent; } }

@-moz-keyframes cursor {
  0% {
    border-left-color: transparent; }

  40% {
    border-left-color: black; }

  100% {
    border-left-color: transparent; } }

@keyframes cursor {
  0% {
    border-left-color: transparent; }

  40% {
    border-left-color: black; }

  100% {
    border-left-color: transparent; } }

.keyboard {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10; }
  .keyboard .value {
    height: 50px;
    line-height: 50px;
    font-size: 2.5em;
    text-align: center;
    background-color: #eee;
    border-bottom: 1px solid #ddd; }
    .keyboard .value:after {
      content: '';
      margin-left: 2px;
      border-left: 2px solid #000;
      -webkit-animation: cursor 1s linear infinite;
      -moz-animation: cursor 1s linear infinite;
      animation: cursor 1s linear infinite; }
  .keyboard .controls {
    margin-top: 10px;
    text-align: center; }
  .keyboard .panel {
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    text-align: center; }
    .keyboard .panel::after {
      clear: both;
      content: "";
      display: table; }
  .keyboard .key {
    display: inline-block;
    height: 42px;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 3em;
    color: #666; }
    .keyboard .key .inner {
      box-sizing: border-box;
      border: 1px solid #ddd;
      height: 34px;
      line-height: 34px;
      background-color: #eee;
      margin: 4px 3px; }
    .keyboard .key:active {
      background-color: #555;
      color: #fff; }
  .keyboard .key-space {
    width: 140px;
    font-size: 2.6em; }
  .keyboard .key-backspace {
    margin-right: -60px;
    width: 70px; }
  .keyboard .key-A, .keyboard .key-L, .keyboard .key-Z, .keyboard .key-M {
    width: 15%; }

html, body {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0 0;
  background-color: #f7f8fa;
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none; }

.app-name {
  margin: 20px auto;
  color: #313131;
  font-weight: normal;
  font-size: 19px;
  text-align: center; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-3ft9c6');
  src: url('fonts/icomoon.eot?#iefix-3ft9c6') format('embedded-opentype'), url('fonts/icomoon.woff?-3ft9c6') format('woff'), url('fonts/icomoon.ttf?-3ft9c6') format('truetype'), url('fonts/icomoon.svg?-3ft9c6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

.icon-quill, .icon-barcode:before, .icon-qrcode:before, .icon-coin-dollar:before, .icon-coin-euro:before, .icon-coin-pound, .icon-coin-yen, .icon-location, .icon-location2, .icon-compass, .icon-clock, .icon-clock2, .icon-calendar, .icon-user, .icon-spinner, .icon-spinner3, .icon-spinner6, .icon-spinner8, .icon-spinner9, .icon-spinner11, .icon-search, .icon-cog, .icon-star-full, .icon-heart, .icon-plus, .button-add-inout, .icon-minus, .button-add-inout-out, .icon-arrow-up-left2, .icon-arrow-up2, .icon-arrow-up-right2, .icon-arrow-right2, .date-header-right, .popup-datepicker .datepicker .next, .popup-datepicker table .next, .icon-arrow-down-right2, .icon-arrow-down2, .icon-arrow-down-left2, .icon-arrow-left2, .numpad-key-backspace, .date-header-left, .popup-datepicker .datepicker .prev, .popup-datepicker table .prev, .icon-circle-up, .icon-circle-right, .icon-circle-down, .icon-circle-left, .icon-sort-amount-asc, .icon-sort-amount-desc, .icon-command, .icon-ctrl, .icon-radio-checked, .icon-radio-checked2, .icon-share, .icon-facebook, .icon-facebook2 {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .icon-quill:before, .icon-barcode:before:before, .icon-qrcode:before:before, .icon-coin-dollar:before:before, .icon-coin-euro:before:before, .icon-coin-pound:before, .icon-coin-yen:before, .icon-location:before, .icon-location2:before, .icon-compass:before, .icon-clock:before, .icon-clock2:before, .icon-calendar:before, .icon-user:before, .icon-spinner:before, .icon-spinner3:before, .icon-spinner6:before, .icon-spinner8:before, .icon-spinner9:before, .icon-spinner11:before, .icon-search:before, .icon-cog:before, .icon-star-full:before, .icon-heart:before, .icon-plus:before, .button-add-inout:before, .icon-minus:before, .button-add-inout-out:before, .icon-arrow-up-left2:before, .icon-arrow-up2:before, .icon-arrow-up-right2:before, .icon-arrow-right2:before, .date-header-right:before, .popup-datepicker .datepicker .next:before, .popup-datepicker table .next:before, .icon-arrow-down-right2:before, .icon-arrow-down2:before, .icon-arrow-down-left2:before, .icon-arrow-left2:before, .numpad-key-backspace:before, .date-header-left:before, .popup-datepicker .datepicker .prev:before, .popup-datepicker table .prev:before, .icon-circle-up:before, .icon-circle-right:before, .icon-circle-down:before, .icon-circle-left:before, .icon-sort-amount-asc:before, .icon-sort-amount-desc:before, .icon-command:before, .icon-ctrl:before, .icon-radio-checked:before, .icon-radio-checked2:before, .icon-share:before, .icon-facebook:before, .icon-facebook2:before {
    font-size: 20px; }

.icon-quill:before {
  content: "\e907"; }

.icon-barcode:before {
  content: "\e937"; }

.icon-qrcode:before {
  content: "\e938"; }

.icon-coin-dollar:before {
  content: "\e93b"; }

.icon-coin-euro:before {
  content: "\e93c"; }

.icon-coin-pound:before {
  content: "\e93d"; }

.icon-coin-yen:before {
  content: "\e93e"; }

.icon-location:before {
  content: "\e947"; }

.icon-location2:before {
  content: "\e948"; }

.icon-compass:before {
  content: "\e949"; }

.icon-clock:before {
  content: "\e94e"; }

.icon-clock2:before {
  content: "\e94f"; }

.icon-calendar:before {
  content: "\e953"; }

.icon-user:before {
  content: "\e971"; }

.icon-spinner:before {
  content: "\e97a"; }

.icon-spinner3:before {
  content: "\e97c"; }

.icon-spinner6:before {
  content: "\e97f"; }

.icon-spinner8:before {
  content: "\e981"; }

.icon-spinner9:before {
  content: "\e982"; }

.icon-spinner11:before {
  content: "\e984"; }

.icon-search:before {
  content: "\e986"; }

.icon-cog:before {
  content: "\e994"; }

.icon-star-full:before {
  content: "\e9d9"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-plus:before, .button-add-inout:before {
  content: "\e114"; }

.icon-minus:before, .button-add-inout-out:before {
  content: "\e115"; }

.icon-arrow-up-left2:before {
  content: "\ea39"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-up-right2:before {
  content: "\ea3b"; }

.icon-arrow-right2:before, .date-header-right:before, .popup-datepicker .datepicker .next:before, .popup-datepicker table .next:before {
  content: "\ea3c"; }

.icon-arrow-down-right2:before {
  content: "\ea3d"; }

.icon-arrow-down2:before {
  content: "\ea3e"; }

.icon-arrow-down-left2:before {
  content: "\ea3f"; }

.icon-arrow-left2:before, .numpad-key-backspace:before, .date-header-left:before, .popup-datepicker .datepicker .prev:before, .popup-datepicker table .prev:before {
  content: "\ea40"; }

.icon-circle-up:before {
  content: "\ea41"; }

.icon-circle-right:before {
  content: "\ea42"; }

.icon-circle-down:before {
  content: "\ea43"; }

.icon-circle-left:before {
  content: "\ea44"; }

.icon-sort-amount-asc:before {
  content: "\ea4c"; }

.icon-sort-amount-desc:before {
  content: "\ea4d"; }

.icon-command:before {
  content: "\ea4e"; }

.icon-ctrl:before {
  content: "\ea50"; }

.icon-radio-checked:before {
  content: "\ea54"; }

.icon-radio-checked2:before {
  content: "\ea55"; }

.icon-share:before {
  content: "\ea7d"; }

.icon-facebook:before {
  content: "\ea8c"; }

.icon-facebook2:before {
  content: "\ea8d"; }

input[type="text"] {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #d5d7df;
  border-radius: 3px;
  background-color: #fff; }

button {
  padding: 0 0;
  border: 0;
  background-color: transparent; }

.button, .button-add-inout, .popup-closer {
  border: 0;
  background-color: #888;
  color: #fff; }

.button-add-inout {
  padding: 0;
  margin: 10px;
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 3em;
  text-align: center;
  border-radius: 20px;
  background-color: #e62f17;
  color: #fff; }
  .button-add-inout:before {
    font-size: 15px; }

.button-add-inout-out {
  background-color: #304FFE; }
  .button-add-inout-out:before {
    font-size: 15px; }

.button-confirm {
  width: 50%;
  line-height: 4;
  color: #304FFE;
  font-size: 3em;
  font-weight: bold; }

.button-cancel {
  width: 50%;
  color: #888;
  font-size: 3em;
  line-height: 2; }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  background-color: rgba(0, 0, 0, 0.5); }

.popup-inner {
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff; }

.popup-closer {
  font-size: 4em;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 0px; }

*[class*="show-at-state"] {
  display: none; }

.state-0 .show-at-state-0 {
  display: inherit; }

.state-1 .show-at-state-1 {
  display: inherit; }

.state-2 .show-at-state-2 {
  display: inherit; }

.inout-list {
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

.inout-item {
  position: relative;
  border-bottom: 1px solid #eee;
  font-size: 2.5em;
  line-height: 3;
  text-align: center;
  color: #333; }
  .inout-item:nth-child(2n+1) {
    background-color: #EFEFEF; }

.inout-item__edit {
  display: none;
  position: absolute;
  top: 0px;
  left: 10px;
  height: 100%;
  color: #078307; }
  .state-1 .inout-item__edit {
    display: block; }

.inout-item__remove {
  display: none;
  position: absolute;
  top: 0px;
  right: 10px;
  height: 100%;
  color: #e62f17; }
  .state-1 .inout-item__remove {
    display: block; }

.numpad {
  background-color: #eee; }
  .numpad::after {
    clear: both;
    content: "";
    display: table; }

.numpad-key {
  float: left;
  width: 33.3%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 4em;
  color: #555; }
  .numpad-key:active {
    background-color: #ddd; }

.bottom-bar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 70px;
  text-align: center; }

.date-header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #eee; }

.date-header-left {
  float: left; }

.date-header-right {
  float: right; }

.date-header-left, .date-header-right {
  line-height: 39px;
  color: #304FFE;
  padding: 0 15px; }

.date-header-center {
  margin: 0 40px;
  font-size: 2.5em;
  text-align: center;
  color: #444; }

.goal-banner {
  padding-top: 12px;
  border-bottom: 1px solid #eee; }
  .goal-banner::after {
    clear: both;
    content: "";
    display: table; }

.goal-banner__header {
  padding-left: 12px;
  line-height: 1.5;
  color: #999; }
  .goal-banner__header::after {
    clear: both;
    content: "";
    display: table; }
  .goal-banner__header .rest-date, .goal-banner__header .edit {
    width: 25%;
    text-align: center;
    float: right; }
  .goal-banner__header .edit {
    color: #078307; }

.goal-banner__body {
  font-size: 1.6em;
  padding: 10px 0 13px;
  height: 30px;
  line-height: 1.5;
  color: #333; }
  .goal-banner__body::after {
    clear: both;
    content: "";
    display: table; }
  .goal-banner__body .block {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    height: 100%;
    width: 20%;
    float: left;
    text-align: center; }
    .goal-banner__body .block > div {
      width: 100%; }
    .goal-banner__body .block .num {
      color: #555; }
    .goal-banner__body .block .label {
      color: #999; }
  .goal-banner__body .block-today .num {
    color: #304FFE; }
  .goal-banner__body .block-mark {
    width: 5%;
    font-size: 1.5em; }
  .goal-banner__body .block-today {
    width: 25%; }
  .goal-banner__body .block-today-center {
    width: 100%; }
    .goal-banner__body .block-today-center .num {
      font-size: 1.5em; }

.popup-addinout {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fff; }

.popup-addinout__actions {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  text-align: center; }

.popup-addinout__input {
  padding: 0 12px;
  font-size: 3em;
  line-height: 3em;
  text-align: right; }
  .popup-addinout__input::after {
    clear: both;
    content: "";
    display: table; }
  .popup-addinout__input .label {
    float: left;
    font-size: 1em;
    color: #999; }

.popup-datepicker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff; }
  .popup-datepicker .date-picker .datepicker {
    margin: 0 auto; }
  .popup-datepicker .datepicker, .popup-datepicker table {
    width: 100%; }
    .popup-datepicker .datepicker th, .popup-datepicker table th {
      line-height: 3; }
    .popup-datepicker .datepicker th, .popup-datepicker .datepicker td, .popup-datepicker table th, .popup-datepicker table td {
      padding: 0 0;
      font-size: 2.5em;
      line-height: 2.5;
      height: 2.5; }
    .popup-datepicker .datepicker .prev, .popup-datepicker table .prev {
      font-size: 0; }
    .popup-datepicker .datepicker .next, .popup-datepicker table .next {
      font-size: 0; }
  .popup-datepicker .controls {
    text-align: center; }

.popup-goal-editor {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fff; }
  .popup-goal-editor .title {
    padding: 1em 0 0 0;
    font-size: 2.5em;
    text-align: center;
    color: #999; }
  .popup-goal-editor .actions {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    text-align: center; }
  .popup-goal-editor .input-amount {
    padding: 0 12px;
    font-size: 3em;
    line-height: 3em;
    text-align: right; }
    .popup-goal-editor .input-amount::after {
      clear: both;
      content: "";
      display: table; }
    .popup-goal-editor .input-amount .label {
      float: left;
      font-size: 1em;
      color: #999; }

.list-item-enter {
  -webkit-transform: translate(1000px, 0);
  -moz-transform: translate(1000px, 0);
  -ms-transform: translate(1000px, 0);
  -o-transform: translate(1000px, 0);
  transform: translate(1000px, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.list-item-enter.list-item-enter-active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.list-item-leave {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.list-item-leave.list-item-leave-active {
  -webkit-transform: translate(1000px, 0);
  -moz-transform: translate(1000px, 0);
  -ms-transform: translate(1000px, 0);
  -o-transform: translate(1000px, 0);
  transform: translate(1000px, 0); }

/*# sourceMappingURL=main.css.map */