.date-header
	height: 44px
	line-height: 44px
	border-bottom: 1px solid #eee

.date-header-left
	@extend .icon-arrow-left2
	float: left

.date-header-right
	@extend .icon-arrow-right2
	float: right


.date-header-left,
.date-header-right
	line-height: 39px
	color: $color-blue
	padding: 0 15px

.date-header-center
	margin: 0 40px
	font-size: 2.5em
	text-align: center
	color: #444
