.goal-banner
	padding-top: 12px
	border-bottom: 1px solid #eee
	+clearfix

.goal-banner__header
	padding-left: 12px
	+clearfix
	line-height: 1.5
	color: #999
	.rest-date, .edit
		width: 25%
		text-align: center
		float: right

	.edit
		color: #078307

.goal-banner__body
	font-size: 1.6em
	padding: 10px 0 13px
	height: 30px
	+clearfix
	line-height: 1.5
	color: #333

	.block
		+display(flex)
		+align-items(center)
		height: 100%
		width: 20%
		float: left
		text-align: center
		> div
			width: 100%
		.num
			color: #555
		.label
			color: #999

	.block-today
		.num
			color: $color-blue

	.block-mark
		width: 5%
		font-size: 1.5em


	.block-today
		width: 25%

	.block-today-center
		width: 100%
		.num
			font-size: 1.5em

