.inout-item
    position: relative
    border-bottom: 1px solid #eee
    font-size: 2.5em
    line-height: 3
    text-align: center
    color: #333

    &:nth-child(2n+1)
        background-color: #EFEFEF

.inout-item__edit
    display: none
    +position(absolute, 0px null null 10px)
    height: 100%
    color: #078307

    .state-1 &
        display: block

.inout-item__remove
    display: none
    +position(absolute, 0px 10px null null)
    height: 100%
    color: $color-red

    .state-1 &
        display: block
