.numpad
	background-color: #eee
	+clearfix

.numpad-key
	float: left
	width: 33.3%
	height: 50px
	line-height: 50px
	text-align: center
	font-size:4em
	color: #555

	&:active
		background-color: #ddd

.numpad-key-backspace
	@extend .icon-arrow-left2
