.popup-goal-editor
    +position(fixed, 0px 0px 0px 0px)
    background-color: #fff

    .title
        padding: 1em 0 0 0
        font-size: 2.5em
        text-align: center
        color: #999

    .actions
        +position(fixed, null 0 0 0)
        margin-top: 10px
        text-align: center

    .input-amount
        padding: 0 12px
        font-size: 3em
        line-height: 3em
        text-align: right
        +clearfix
        .label
            float: left
            font-size: 1em
            color: #999
