.popup-addinout
	+position(fixed, 0px 0px 0px 0px)
	background-color: #fff

.popup-addinout__actions
    +position(fixed, null 0 0 0)
    margin-top: 10px
    text-align: center

.popup-addinout__input
	padding: 0 12px
	font-size: 3em
	line-height: 3em
	text-align: right
	+clearfix

	.label
		float: left
		font-size: 1em
		color: #999
