.popup-datepicker
    +position(fixed, 0 0 0 0);
    background-color: #fff

    // date picker css patch
    .date-picker .datepicker
        margin: 0 auto

    .datepicker,
    table
        width: 100%
        th
        	line-height: 3

        th, td
        	padding: 0 0
        	font-size: 2.5em
        	line-height: 2.5
        	height: 2.5

        .prev
        	font-size: 0
        	@extend .icon-arrow-left2
        .next
        	font-size: 0
        	@extend .icon-arrow-right2

    .controls
        text-align: center
