.zl-datepicker
    +position(fixed, 0 0 0 0)
    background-color: #fff
    z-index: 10

    .value
        font-size: 2.5em
        line-height: 4em
        text-align: center
        background-color: #eee
        border-bottom: 1px solid #ddd

        .year, .month, .date
            width: 90px
            display: inline-block

    &.state-0 .year,
    &.state-1 .month,
    &.state-2 .date
        background-color: #ddd

    .controls
        +position(fixed, null 0 0 0)
        margin-top: 10px
        text-align: center


    .pannel-year, .pannel-month, .pannel-date
        +clearfix

    .key-year, .key-month, .key-date, .key-every, .key-some
        float: left
        +size(33% 50px)
        line-height: 50px
        text-align: center
        font-size: 2.2em

        &:active
            background-color: #eee

        &.selected
            background-color: #ccc
            color: #333
    .key-date
        width: 14.2%

    .key-every, .key-some
        width: 50%
        height: 60px
        line-height: 60px

