+keyframes(cursor)
    0% 
        border-left-color: rgba(0,0,0,0)
    40%
        border-left-color: rgba(0,0,0,1)
    100%
        border-left-color: rgba(0,0,0,0)


.keyboard
    +position(fixed, 0 0 0 0)
    background-color: #fff
    z-index: 10

    .value
        height: 50px
        line-height: 50px
        font-size: 2.5em
        text-align: center
        background-color: #eee
        border-bottom: 1px solid #ddd

        &:after
            content: ''
            margin-left: 2px
            border-left: 2px solid #000
            +animation(cursor 1s linear infinite)

    .controls
        margin-top: 10px
        text-align: center

    .panel
        +clearfix
        +position(fixed, null 0 30px 0 0)
        text-align: center

    .key
        display: inline-block
        +size(10% 42px)
        box-sizing: border-box
        // border: 1px solid red
        text-align: center
        font-size: 3em
        color: #666

        .inner
            box-sizing: border-box
            border: 1px solid #ddd
            height: 34px
            line-height: 34px
            background-color: #eee
            margin: 4px 3px

        &:active
            background-color: #555
            color: #fff

    .key-space
        width: 140px
        font-size: 2.6em

    .key-backspace
        // +position(absolute, null 0 null null)
        margin-right: -60px
        width: 70px

    .key-A, .key-L, .key-Z, .key-M
        width: 15%
