html, body
    position: absolute
    height: 100%
    overflow: hidden
    width: 100%
    margin: 0 0
    background-color: #f7f8fa
    font-size: 62.5%
    font-family: sans-serif
    -webkit-font-smoothing: antialiased
    -webkit-user-select: none
    
.app-name
    margin: 20px auto
    color: #313131
    font-weight: normal
    font-size: 19px
    text-align: center

$color-green: #B7D7B8
$color-blue: #304FFE
$color-red: #e62f17
