button
	padding: 0 0
	border: 0
	background-color: transparent

.button
	border: 0
	background-color: #888
	color: #fff

.button-add-inout
	@extend .button
	@extend .icon-plus
	padding: 0
	margin: 10px
	display: inline-block
	+size(40px)
	line-height: 40px
	font-size: 3em
	text-align: center
	border-radius: 20px
	background-color: $color-red
	color: #fff

	&:before
		font-size: 15px

.button-add-inout-out
	@extend .icon-minus
	background-color: $color-blue
	&:before
		font-size: 15px

.button-confirm
	width: 50%
	line-height: 4
	color: $color-blue
	font-size: 3em
	font-weight: bold

.button-cancel
	width: 50%
	color: #888
	font-size: 3em
	line-height: 2
