@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-3ft9c6');
	src:url('fonts/icomoon.eot?#iefix-3ft9c6') format('embedded-opentype'),
		url('fonts/icomoon.woff?-3ft9c6') format('woff'),
		url('fonts/icomoon.ttf?-3ft9c6') format('truetype'),
		url('fonts/icomoon.svg?-3ft9c6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-quill,
.icon-barcode:before,
.icon-qrcode:before,
.icon-coin-dollar:before,
.icon-coin-euro:before,
.icon-coin-pound,
.icon-coin-yen,
.icon-location,
.icon-location2,
.icon-compass,
.icon-clock,
.icon-clock2,
.icon-calendar,
.icon-user,
.icon-spinner,
.icon-spinner3,
.icon-spinner6,
.icon-spinner8,
.icon-spinner9,
.icon-spinner11,
.icon-search,
.icon-cog,
.icon-star-full,
.icon-heart,
.icon-plus,
.icon-minus,
.icon-arrow-up-left2,
.icon-arrow-up2,
.icon-arrow-up-right2,
.icon-arrow-right2,
.icon-arrow-down-right2,
.icon-arrow-down2,
.icon-arrow-down-left2,
.icon-arrow-left2,
.icon-circle-up,
.icon-circle-right,
.icon-circle-down,
.icon-circle-left,
.icon-sort-amount-asc,
.icon-sort-amount-desc,
.icon-command,
.icon-ctrl,
.icon-radio-checked,
.icon-radio-checked2,
.icon-share,
.icon-facebook,
.icon-facebook2
{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-size: 20px;
	}

}

.icon-quill:before {
	content: "\e907";
}

.icon-barcode:before {
	content: "\e937";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-coin-dollar:before {
	content: "\e93b";
}

.icon-coin-euro:before {
	content: "\e93c";
}

.icon-coin-pound:before {
	content: "\e93d";
}

.icon-coin-yen:before {
	content: "\e93e";
}

.icon-location:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-compass:before {
	content: "\e949";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-user:before {
	content: "\e971";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-spinner6:before {
	content: "\e97f";
}

.icon-spinner8:before {
	content: "\e981";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-search:before {
	content: "\e986";
}

.icon-cog:before {
	content: "\e994";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-plus:before {
	content: "\e114";
}

.icon-minus:before {
	content: "\e115";
}

.icon-arrow-up-left2:before {
	content: "\ea39";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-up-right2:before {
	content: "\ea3b";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-arrow-down-right2:before {
	content: "\ea3d";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

.icon-arrow-down-left2:before {
	content: "\ea3f";
}

.icon-arrow-left2:before {
	content: "\ea40";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-sort-amount-asc:before {
	content: "\ea4c";
}

.icon-sort-amount-desc:before {
	content: "\ea4d";
}

.icon-command:before {
	content: "\ea4e";
}

.icon-ctrl:before {
	content: "\ea50";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-share:before {
	content: "\ea7d";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

