.popup
    +position(fixed, 0 0 0 0)
    +display(flex)
    +align-items(center)
    background-color: rgba(0,0,0,0.5)

.popup-inner
    padding: 10px
    box-sizing: border-box
    background-color: #fff

.popup-closer
    @extend .button
    font-size: 4em
    background-color: transparent
    +position(absolute, 10px 0px null null);
